# Palmer Penguins 

****************************************************

![Penguins](img/Alter_penguins.png)

![Palmer](https://allisonhorst.github.io/palmerpenguins/reference/figures/lter_penguins.png)

This notebook contains my analysis of the famous palmer penguins dataset.

This data set is available [on GitHub](https://allisonhorst.github.io/palmerpenguins/).

## Imports

***

We use pands for the DataFrame data structure.

It allows CSV files, amosngst other features.

In [2]:
# Data Frame.
import pandas as pd

## Load Data

***

Load the palmer penguins data set from a URL.

In [5]:
# Load the penguins data set.
df = pd.read_csv("https://raw.githubusercontent.com/allisonhorst/palmerpenguins/main/inst/extdata/penguins.csv")

The data is now loaded and we can inspect it.

In [6]:
# Let's have a look.
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

## Inspect Data

***

In [7]:
# Look at the first row.
df.iloc[0]

species                 Adelie
island               Torgersen
bill_length_mm            39.1
bill_depth_mm             18.7
flipper_length_mm        181.0
body_mass_g             3750.0
sex                       male
year                      2007
Name: 0, dtype: object

In [8]:
# Sex of penguins
df['sex']

0        male
1      female
2      female
3         NaN
4      female
        ...
339      male
340    female
341      male
342      male
343    female
Name: sex, Length: 344, dtype: object

In [9]:
# Count the number of penguins of each sex.
df['sex'].value_counts()

sex
male      168
female    165
Name: count, dtype: int64

In [10]:
# Describe the data set.
df.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

# This will be big

You *might* have a **paragraph**. 

Paragraphs have sentences.

You might have a paragraph. 

Paragraphs have sentences.

You might have a paragraph. 

Paragraphs have sentences.You might have a paragraph. Paragraphs have sentences.You might have a paragraph. Paragraphs have sentences.You might have a paragraph. Paragraphs have sentences.

If you want a second paragraph, leave a blank line! If you want a second paragraph, leave a blank line! If you want a second paragraph, leave a blank line! If you want a second paragraph, leave a blank line! If you want a second paragraph, leave a blank line! If you want a second paragraph, leave a blank line! 

## This will be slightly smaller

- Bullet
  - Second level
* Point
- Lists


### This will be slightly smaller again

1. Numbered bullets
2. Just use numbers.
3. How complex!
1. A
1. B
1. C

> The definition os stupidity is doing the same thing twice and expecting different results! (Albert Einstein, not)

#### This will be slightly smaller again again
##### This will be slightly smaller again again again
###### This will be slightly smaller again again again again

## Tables

******

|Species    | Bill Length (mm) | Body Mass (g) |
|-----------|-----------------:|---------------|
|Adelie     |              38.8|           3701|
|Chinstrap  |              48.8|           3733|
|Gentoo     |              47.5|           5076|

## Math

***

$f(x) = x^2$

$\sum_{i=0}^{n-1} i$

$\bar{x} = \frac{\sum_{i=0}^{n-1} x_1}{n}$

***

### End